<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="訪談工具"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".input">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Questionnaire" />
        <activity android:name=".ADL" />
        <activity android:name=".ADL2" />
        <activity android:name=".ADL3" />
        <activity android:name=".ADLANS" />
        <activity android:name=".IADL" />
        <activity android:name=".IADL2" />
        <activity android:name=".IADL3" />
        <activity android:name=".IADLANS" />
        <activity android:name=".WHOQOL1" />
        <activity android:name=".WHOQOLANS" />
        <activity android:name=".personaldata" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".list"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".upload" />
        <activity android:name=".task"></activity>
    </application>

</manifest>